*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  h1{
    colour:black;
    text-align:center;
  }
  .text{
    border-color:white;
    border-style:solid;
    border-size:5px;
    margin:16px;
  }
  
  /*Header*/
  .navbar{
    background-color: rgb(115,139,131);
    display:block;
    padding:20px;
    postion: absolute;
  }
  
  .navbar a{
    text-decoration:none;
    font-size:16px;
    color:rgb(245,214,141);
  }
  
  .navbar a:hover{ /*When hovering over an element*/
    color:rgb(255, 255, 255);
  }
  
  ul{
    list-style-type:none;
  }
    
  li{
    display:inline;
    margin:10px
  }
  
  #logo{
    height:100px;
    width:200px;
    display:block;
    margin-left:0;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(115,139,131) ;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  
  
  /*Social Bar*/
  .socials{
    position:fixed;
    top:50%
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /*Styling the links*/
  .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 15px;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram{
    background: #8a3ab9;
    color:white;
  }
  
  /*New Products Carousel*/
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin:auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .textbox {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /*Footer*/
  footer{
    display:block;
    bottom:0;
  }
  
  footer p{
    margin:16px;
    colour:rgb(60,82,82);
  }
  
  .contactus{
    margin:16px;
    colour:rgb(60,82,82);
    text-align: center;
  }
  /*Puppy Screen*/ /*hasn't been implemented yet*/
  
  @media screen and (max-width:500px){ /*When the page is lower than 500px the hamburger displays*/
    .navbar{
      overflow: hidden;
      background-color: rgb(115,139,131);
      position:relative;
      padding:10px;
    }
    .navbar a{
      text-decoration:none;
      font-size:16px;
      color:rgb(255, 255, 255);
      display:block;
    }
    .navbar a:hover{ /*When hovering over an element*/
      background:rgb(60,82,82);
      color:rgb(255, 255, 255);
      padding:10px;
    }
    ul{
      list-style-type:none;
    }
    .hamb{ /*where the hamburger is*/
      display:block;
      padding:5px;
    }
    #links{
      display:none;
      position:fixed;
    }
      div #hb{ /*styliation of the three lines*/
      width:35px;
      height:5px;
      margin: 6px 0;
      background-color:rgb(60,82,82);
    }
  }
  
  